{% extends "/shared/_layout.html" %}
{% block nav %}Home{% endblock %}
{% block main_content %}


<div class="container main-feed">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ project.name }}</h2>
                    <div class="card-subtitle mb-2">
                        {{project.description}}
                    </div>
                    <button class="btn btn-outline-info btn-sm align-self-end">Sign me up!</button>
                    {% for d in project.days %}
                    <div class="feed-item">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#">{{d['name']}}</a>
                            </div>
                            <div class="col-md-12">
                                {{d['description']}}
                            </div>
                            <div class="col-md-12">
                                {{d['est_minutes']}} minutes
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="/static/css/projects.css">
{% endblock %}