{% extends "shared/_layout.html" %}
{% block nav %}{% endblock %}
{% block main_content %}
<div class="container main-feed">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About Centurio</h2>
                    <div>
                        <h4>Why</h4>
                        Have you ever wanted a way to get better at something? Learn to play an instrument, learn to
                        code in a new language, get physically fitter? You probably have a busy life, and it can feel
                        impossible to carve out the time to work on a new hobby or skill. As any athlete will tell you,
                        the most time-efficient way to improve is to work within a structured training plan. Centurio
                        provides that structure and tools for accountability.
                        <h4>What is Centurio?</h4>
                        Centurio is a web app to help guide you and keep you on track during your self-improvement
                        journey. After you sign up for an account, you'll be able to pick a project. Each project is
                        broken down into Days, and every Day has a task for you to complete. Every day, do what the
                        project tells you and mark it as complete when you're done! When you sign up for a project,
                        you'll automatically be added to a Cohort of other users who have signed up for that project at
                        around the same time. Their progress will show in your feed, and yours will show up in theirs.
                        <h4>How do I use Centurio?</h4>
                        Start by signing up and taking a look at the project list. Right now, we have projects for:
                        <ul>
                            <li>Coding in Python</li>
                            <li>Intermediate Guitar</li>
                            <li>Journalling</li>
                            <li>Pushups</li>
                        </ul>
                        And we are working on adding more. If you have an idea for a project you would like to see, you
                        can submit it on the Projects page.
                        <h4>Sound interesting?</h4>
                        Sign up <a href="/account/register">here!</a>



                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}