{% extends "/shared/_layout.html" %}
{% block nav %}Home{% endblock %}
{% block main_content %}


<div class="container main-feed">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ attempt.name }}</h2>
                    <h2 class="card-title">{{ attempt.status }}</h2>
                    {% for d in attempt.attempt_days %}
                    <div class="feed-item">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#">Day {{d.ordinal}}</a>
                                <div class="desc">{{day_descriptions[d.ordinal]}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                {% if d.status=="complete" %}
                                <button id="day-complete" name="{{d.id}}" data-attempt='{{attempt.id}}'
                                    class="btn btn-success btn-sm align-self-end completed" disabled>Completed</button>
                                {% else %}
                                <button id="day" name="{{d.id}}" data-attempt='{{attempt.id}}'
                                    class="btn btn-outline-success btn-sm align-self-end complete">Complete</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="/static/js/attempt.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll("#day")
        for (const button of buttons) {
            $(button).one('click', complete_day)
        }
    });

</script>
{% endblock %}